.edit-page h1{
    color: white; 
    padding-top: 2%;
}

.edit-page .image{
    margin-top: 2%; 
    background: url("https://previews.123rf.com/images/yupiramos/yupiramos1803/yupiramos180310629/96946872-cute-rabbit-happy-easter-card-vector-illustration-design.jpg");
}

.edit-page h3 {
    padding-top: 5%; 
    text-align: center;
}

.edit-page p {
    padding-top: 5%; 
    text-align: center;
}